node_modules
/specs/*.json
yarn-error.log
.env
.DS_Store
.env.json
.playground
.storage
.vscode
.husky
.idea
webpack.config.local.js
.npmrc
cert.p12
token.json
code-verify.json
firebase-config.json

/uploads